.logo img {
    width: 250px;
    height: 130px;
}

.homeHeader {
    background-color: navy;
    padding: 0 20px 0 20px;

}

.forms {
    padding: 30px 15px 15px 15px;
}

.login {
    font-size: 10px;
    color: white;
}

.texthead {
    font-size: 18px;
}

.custom {
    width: 49%;
}

.DeliveryForm {
    margin-top: 35px;
}

.posButton {
    margin-top: 40px;
    border-color: blue;

}